@use "./variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: none;
  font-family: $primary-font;
}

body {
  background-color: $background-color;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  max-height: 100vh;
  max-width: 800px;
  margin: auto;
  .header {
    &__title {
      padding: 5px 20px;
      margin-top: 10px;
      color: #fff;
      letter-spacing: 0.2rem;
      text-shadow: 0 0 4px $primary-color, 0 0 10px $primary-color,
        0 0 18px $primary-color, 0 0 38px $primary-color;
      border: 1px solid #fff;
      border-radius: 20px;
      box-shadow: $primary-shadow;
      text-align: center;
      font-size: 5vw;
      background-image: url("../assets/logo.svg");
      background-size: 5px;
      border-radius: 20px;
    }
    .logo-left,
    .logo-right {
      display: none;
    }
  }
  .game__section {
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 800px;
    width: 95vw;
    .game__container {
      display: inherit;
      flex-direction: inherit;
      align-items: center;
      max-width: 800px;
      width: 95vw;
      padding: 10px;
      border: 1px solid #fff;
      border-radius: 10px;
      box-shadow: $primary-shadow;
      text-align: center;
      color: #fff;
      .game__counters {
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: $primary-shadow;
        height: 5vh;
        width: 80%;
        margin: 5px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        .time-input {
          display: flex;
          justify-content: flex-start;
          padding: 1px;
          width: 50%;
          border: 1px solid #fff;
          border-radius: 10px;
          box-shadow: $primary-shadow;
        }
        .corn-input {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 1px;
          width: 50%;
          border: 1px solid #fff;
          border-radius: 10px;
          box-shadow: $primary-shadow;
        }
        .time-counter,
        .corn-counter {
          background: none;
          border: none;
          width: 50%;
          height: 95%;
          color: #fff;
          font-size: 2.5vh;
        }
        .corn-counter {
          text-align: right;
        }
      }
      .game__window {
        padding: 5px;
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: $primary-shadow;
        width: 100%;
        height: min(65vh, 80vw);
        background-color: $background-color;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .game {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .cell {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
      #blocked {
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: $primary-shadow;
        background-image: url("../assets/logo.svg");
        background-size: 5px;
      }
      .intro {
        text-align: center;
        font-family: $secondary-font;
        padding: 10px;
        font-size: 1rem;
        margin-top: 1vh;
        overflow: scroll;
      }
      .reset {
        text-align: center;
        font-family: $secondary-font;
        padding: 20px;
        font-size: 3vw;
        margin-top: 20px;
      }
      .replay-button {
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: $primary-shadow;
        background: none;
        padding: 5px 10px;
        color: #fff;
        text-shadow: 0 0 4px $primary-color, 0 0 10px $primary-color,
          0 0 18px $primary-color, 0 0 38px $primary-color;
        font-size: 3vw;
        width: 40%;
        display: inherit;
        align-self: center;
        align-items: center;
        justify-self: center;
        &:active {
          scale: 0.9;
        }
      }
    }
  }
  .controls__section {
    .controls__container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      border: 1px solid #fff;
      border-radius: 20px;
      box-shadow: $primary-shadow;
      max-width: 750px;
      width: 80vw;
      height: 28vh;
      .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &__left-right {
          display: inherit;
          width: 70%;
          justify-content: space-between;
          align-items: center;
        }
        &__up,
        &__down {
          display: inherit;
          justify-content: center;
          align-items: center;
        }
        #arrow-up,
        #arrow-left,
        #arrow-right,
        #arrow-down {
          height: 8vh;
          width: 20vw;
          padding: 2px;
          border: 1px solid #fff;
          border-radius: 10px;
          box-shadow: $primary-shadow;
          transition: opacity 0.5s, transform 0.5s;
          &:hover {
            opacity: 80%;
          }
          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
  }

  .footer {
    padding: 5px;
    margin-top: 10px;
    &__img {
      padding: 5px;
      height: 5vh;
      border: 1px solid #fff;
      border-radius: 10px;
      box-shadow: $primary-shadow;
      transition: opacity 0.5s;
      &:hover {
        opacity: 70%;
      }
    }
  }
}
